<a href="https://colab.research.google.com/github/MOHD-TAUFIQUE/Self--practise-Regression-using-python/blob/main/Practice_Self_python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data=pd.read_csv("/content/drive/MyDrive/dat/Copy of imdb_data.csv")
data.shape

(3000, 23)

In [ ]:
data.head().T

,0,1,2,3,4
id,1,2,3,4,5
belongs_to_collection,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...","[{'id': 107674, 'name': 'The Princess Diaries ...",NaN,NaN,NaN
budget,14000000,40000000,3300000,1200000,0
genres,"[{'id': 35, 'name': 'Comedy'}]","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'id': 18, 'name': 'Drama'}]","[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...","[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam..."
homepage,NaN,NaN,http://sonyclassics.com/whiplash/,http://kahaanithefilm.com/,NaN
imdb_id,tt2637294,tt0368933,tt2582802,tt1821480,tt1380152
original_language,en,en,en,hi,ko
original_title,Hot Tub Time Machine 2,The Princess Diaries 2: Royal Engagement,Whiplash,Kahaani,마린보이
overview,"When Lou, who has become the ""father of the In...",Mia Thermopolis is now a college graduate and ...,"Under the direction of a ruthless instructor, ...",Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,Marine Boy is the story of a former national s...
popularity,6.575393,8.248895,64.29999,3.174936,1.14807
poster_path,/tQtWuwvMf0hCc2QR2tkolwl7c3c.jpg,/w9Z7A0GHEhIp7etpj0vyKOeU1Wx.jpg,/lIv1QinFqz4dlp5U4lQ6HaiskOZ.jpg,/aTXRaPrWSinhcmCrcfJK17urp3F.jpg,/m22s7zvkVFDU9ir56PiiqIEWFdT.jpg
production_companies,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'name': 'Bold Films', 'id': 2266}, {'name': ...",NaN,NaN
production_countries,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'IN', 'name': 'India'}]","[{'iso_3166_1': 'KR', 'name': 'South Korea'}]"
release_date,2/20/15,8/6/04,10/10/14,3/9/12,2/5/09
runtime,93.0,113.0,105.0,122.0,118.0
spoken_languages,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]"
status,Released,Released,Released,Released,Released
tagline,The Laws of Space and Time are About to be Vio...,It can take a lifetime to find true love; she'...,The road to greatness can take you to the edge.,NaN,NaN
title,Hot Tub Time Machine 2,The Princess Diaries 2: Royal Engagement,Whiplash,Kahaani,Marine Boy
Keywords,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'id': 10092, 'name': 'mystery'}, {'id': 1054...",NaN
cast,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'cast_id': 3, 'character': 'Chun-soo', 'cred..."
crew,"[{'credit_id': '59ac067c92514107af02c8c8', 'de...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...","[{'credit_id': '52fe464b9251416c75073b43', 'de..."
revenue,12314651,95149435,13092000,16000000,3923970

In [ ]:
data.columns

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue'],
      dtype='object')

In [ ]:
%time data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   object
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                3000 non-null   int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.2+ KB
CPU times: user 19.4 ms, sys: 878 µs, total: 20.3 ms
Wall time: 38.1 ms

In [ ]:
columns_to_keep= ['budget', 'genres','original_language', 'original_title','cast', 'crew', 'revenue']

In [ ]:
data.loc[~data['genres'].isna(),'genres']

0                          [{'id': 35, 'name': 'Comedy'}]
1       [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
2                           [{'id': 18, 'name': 'Drama'}]
3       [{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...
4       [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...
                              ...
2995    [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
2996    [{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...
2997    [{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...
2998    [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
2999    [{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...
Name: genres, Length: 2993, dtype: object

##Map,Apply & Applymap difference with example: These are techniques to apply function to element, column or dataframe.

Map: It iterates over each element of a series.
df[‘column1’].map(lambda x: 10+x), this will add 10 to each element of column1.
df[‘column2’].map(lambda x: ‘AV’+x), this will concatenate “AV“ at the beginning of each element of column2 (column format is string).

Apply: As the name suggests, applies a function along any axis of the DataFrame.
df[[‘column1’,’column2’]].apply(sum), it will returns the sum of all the values of column1 and column2.

ApplyMap: This helps to apply a function to each element of dataframe.
func = lambda x: x+2
df.applymap(func), it will add 2 to each element of dataframe (all columns of dataframe must be numeric type)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
p=pd.DataFrame({'M':[1,2,3],'N':[7,8,9]})
p

   M  N
0  1  7
1  2  8
2  3  9

In [ ]:
p['M'].map(lambda x:10+x)

0    11
1    12
2    13
Name: M, dtype: int64

In [ ]:
p.applymap(lambda x:10+x)

    M   N
0  11  17
1  12  18
2  13  19

In [ ]:
#func = lambda x: x+2 
p.apply(max)

M    3
N    9
dtype: int64

In [ ]:
p['N'].max()

9

In [ ]:
p['N'].idxmax()

2

In [ ]:
N_list=p.loc['N']
N_list[0:1]

KeyError: ignored

In [ ]:
string='[1,2,3,4,5,]'
eval(string)

[1, 2, 3, 4, 5]

In [ ]:
string

'[1,2,3,4,5,]'

In [ ]:
import ast

In [ ]:
ast.literal_eval(string)

[1, 2, 3, 4, 5]

In [ ]:
A_ =['cool','math','science','physics']
#python=python
y='cool' in A_
print(y)

True

In [ ]:
python = ['cool']
x = python in python
print(x)

False

In [ ]:
list_=[1,'hi',{2,3,4}]

In [ ]:
list_

[1, 'hi', {2, 3, 4}]

In [ ]:
x = 1
for i in range(5):
    x = x*i
print(x)

0

In [ ]:
sum = 10
for number in [2, 4, 6]:
    if number==6:
        sum = sum + number
    else:
        sum = 2
print(sum)

8

In [ ]:
list_=[1,2,3,4,5]
square_number=[i**2 for i in list_ if i%2==0] 
print(square_number)

[4, 16]

In [ ]:
my_list=[True, False]
my_list.sort(reverse=True)
print(my_list)

[True, False]

In [ ]:
a=2
print(a)

2

In [ ]:
'''from pandas_profiling import ProfileReport
report = ProfileReport(df)
report.to_file(output_file='output.html')'''

"from pandas_profiling import ProfileReport\nreport = ProfileReport(df)\nreport.to_file(output_file='output.html')"

In [ ]:
import string

In [ ]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
str1="learn python"  
str2=""  # initialising the empty string and assigning it to variable str2.
str3=""  # initialising the empty string and assigning it to variable str3.
for x in str1: # here iterator x is going to iterate over the sequaence of character available in statement i.e,"learn python"
  if(x=="r" or x=="n" or x=="p"): # if statement will match the condition.
    str2+=x # store the matched condition while using iterator x on iterable object str1 and store it in str2 variable.So, it will store rnpn.
    pass # pass keyword will do nothing. It just allow the below code to be execeuted as well. 
  if(x=="r" or x=="e" or x=="a"): # Again this if statement will match the condition.
    str3+=x  #store the matched condition while using iterator x on iterable object str1 and store it in str2 variable .So, it will store ear
print(str2,end=" ") # this print statement will show ouput str2 and str3 seperated by white space in a single line.
print(str3)

rnpn ear

In [ ]:
string1='ok'
#string1='okay'
string2=string1
string1='okay'
print(string2)

ok

In [ ]:
string1

'okay'

In [ ]:
list1=[1,2,3]
list2=list1
list1[0]=70
print(list2)

[70, 2, 3]

In [ ]:
list1

[70, 2, 3]

In [ ]:
# write a python program to count the number of character (character frequency) in a string.
str=input("enter string : ") # Providing string as an input

f = {} # initialising empty dictionary.

for i in str: # itertaing over each character present in the input string.

    if i in f: # matching the character stored in dictionary f.

        f[i] += 1 # making an increment of values by 1 corresponding to the keys.

    else: 

        f[i] = 1 # updating the keys.

print(f) # printing the dictionary conatining char as keys and count as values.

enter string : almabetter
{'a': 2, 'l': 1, 'm': 1, 'b': 1, 'e': 2, 't': 2, 'r': 1}

In [ ]:
# Alternative method: using function -

def char_frequency(str1): # definining function to count char in any given string whenever this function is called.
    dict = {} # initialising an empty dictionary 
    for n in str1: # iterating over every char in the given string one by one.
        keys = dict.keys() # applying keys method of dictionary to get keys and assign it to variable keys.
        if n in keys: # matching the keys available in the variable keys.
            dict[n] += 1 # making an increment of values by 1 to the corresponding keys.
        else:
            dict[n] = 1 # updating the keys.
    return dict # returning the variable dict containing char as keys and count as values.
print(char_frequency('google.com')) # printing the char and it's frequency by calling the function char_frequency.

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [ ]:
dict_={1:'cat', 2:'rat'}
dict_.keys()

dict_keys([1, 2])

In [ ]:
dict_[1]='gas'
dict_

{1: 'gas', 2: 'rat', 3: 'gas'}

In [ ]:
my_list=[1,2,3,1,1,1,3,10,5,8,'Append me!',2.73,[1,2,3]]

In [ ]:
len(my_list)

13

In [ ]:
my_list.append([10,[19,20],30])
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30]]

In [ ]:
len(my_list)

14

In [ ]:
myList = ['one', 'two', 'three'] # created a list with three items/elements.

myList.insert(0, 'zero') # used insert method with the list to insert zero at index 0 (the first index)

print(myList) # finally printed the list which will have four elements with zero at first index.

['zero', 'one', 'two', 'three']

In [ ]:
a = [[]]*3
a[1].append(7)
print(a)

[[7], [7], [7]]

In [ ]:
a = [[]]*3
a

[[], [], []]

In [ ]:
a[2].append(7)

In [ ]:
a

[[7, 7], [7, 7], [7, 7]]